$namespace: 'i-think-';
@mixin blockquote($block){
    $blockName:$namespace+$block !global;
    .#{$blockName}{
        @content;
    }
}

@mixin bgColor($color){
    @each $type,$value in $color{
         &.#{$blockName}-#{$type}{
            background:#{$value};
        }
        // &.i-think-#{$type}{
        //     background: #{$value};
        // }
    }
}

@mixin bRadius($radius:$border-radius) {
    border-radius: $radius+$px;
}

@mixin cursor() {
   cursor: pointer; 
}

@mixin boxShadow(){
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
}
