//color
@import './_color.scss';
$px: px;
$border-radius:4;
$colors:
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  );

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$primary-active:       $blue-active !default;
$secondary-active:     $gray-600-active !default;
$success-active:       $green-active !default;
$info-active:          $cyan-active !default;
$warning-active:       $yellow-active !default;
$danger-active:        $red-active !default;
$light-active:         $gray-100-active !default;
$dark-active:          $gray-800-active !default;
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $cyan,
    "error":      $red,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  );
$theme-colors-active: (
  "primary":    $primary-active,
  "secondary":  $secondary-active,
  "success":    $success-active,
  "info":       $cyan-active,
  "error":      $red-active,
  "warning":    $warning-active,
  "danger":     $danger-active,
  "light":      $light-active,
  "dark":       $dark-active
);